**/*.nupkg
**/*.coverage
*.csproj.user
*.vcxproj.user
drop/
bin/
obj/
packages/
msbuild.err
msbuild.sum
msbuild.wrn
*.binlog
*.Generated.cs
**/*.orig
*.log
*.swp
*.un~
*UpgradeLog*.htm
.vs/
**/*.vc.db
**/*.vc.vc.opendb
**/*.swo
*.ok
**/*.swo
*.DotSettings.user
*.DotSettings
*.jfm
*.stackdump
**/Debug
/temp